.item-highlight{
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    $border: 5px;
    color: #FFF;
    box-sizing: border-box;
    background: #000;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;

    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(to right, red, orange);
    }
}