#carouselExampleIndicators img {
    height: 500px;
}

#carouselExampleIndicators .carousel-linear{
    box-shadow: 2px 2px 5px inset rgba(10,10,10,.6) !important;
}

.btn-pesan-sekarang{
    border-radius:50px !important;
    background-color:#F1E982;
    -webkit-border-radius:50px !important;
    -moz-border-radius:50px !important;
    -ms-border-radius:50px !important;
    -o-border-radius:50px !important;
    font-weight: 600 !important;
    color: #8B8530;
    box-shadow: 2px 2px 2px inset rgba(10, 10, 10, .6), -2px -2px -2px inset rgba(10, 10, 10, .6) !important;
}

.harga{
    color:#8B8530;
    font-weight: bold;
    font-size: 38px;
}

.detail-informasi,  .detail-informasi .card-header{
    border: none !important;
}

#frame-map-detail{
    width:39vw;
    height: 81vh;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}

@media screen and (max-width: 766px){
    #frame-map-detail{
        width:100%;
    }
}