.footer-container{
    background-color:  #FFFCDC !important;
}

h2{
    font-size: 36px;
}

p {
    font-size: 12px;
}

.footer-container a{
    color:black !important;
}

.footer-container a:hover{
    color: blue !important;
}