.card-form{
    border-radius: 10px 10px 10px 10px !important;
    -webkit-border-radius: 10px 10px 10px 10px !important;
    -moz-border-radius: 10px 10px 10px 10px !important;
    -ms-border-radius: 10px 10px 10px 10px !important;
    -o-border-radius: 10px 10px 10px 10px !important;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.08));
    border: none !important;
}

