:root {
    --main-white-color: white;
    --main-black-color: black;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .static {
    position: static;
  }
  
  .cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .owl-carousel .owl-slide {
    position: relative;
    height: 100vh;
    background-color: lightgray;
  }
  
  .owl-carousel .owl-slide-animated {
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.05s;
  }
  
  .owl-carousel .owl-slide-animated.is-transitioned {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }
  
  .owl-carousel .owl-slide-title.is-transitioned {
    transition-delay: 0.2s;
  }
  
  .owl-carousel .owl-slide-subtitle.is-transitioned {
    transition-delay: 0.35s;
  }
  
  .owl-carousel .owl-slide-cta.is-transitioned {
    transition-delay: 0.5s;
  }
  
  .owl-carousel .owl-nav {
    position: relative;
  }

  .owl-carousel .owl-dots{
    position: absolute;
    top: 65vh !important;
    left:78% !important;
  }
  
  .owl-carousel .owl-dots .owl-dot,
  .owl-carousel .owl-nav [class*="owl-"]:focus {
    outline: none;
  }
  
  .owl-carousel .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid var(--main-black-color);
    transition: all 0.2s ease;
  }
  
  .owl-carousel .owl-dots .owl-dot:hover span,
  .owl-carousel .owl-dots .owl-dot.active span {
    background: var(--main-black-color);
  }
  
  .owl-carousel .owl-nav {
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    margin: 0;
  }
  
  .owl-carousel .owl-nav svg {
    opacity: 0.3;
    transition: opacity 0.3s;
  }
  
  .owl-carousel .owl-nav button:hover svg {
    opacity: 1;
  }
  
  .owl-carousel .owl-nav [class*="owl-"]:hover {
    background: transparent;
  }
  
  /* section {
    display: none;
  } */

  .recomendation{
    background-color: #FFFCDC;
  }

  .card-rekomendasi:hover{
    box-shadow: 7px 7px 10px rgba(10, 10, 10, .7);
  }

  .card-rekomendasi .card-title a:hover{
    text-decoration: none;
    color: #8B8530 !important;

  }

  .card-rekomendasi .card-title a:hover span{
    color: #8B8530 !important;
    font-weight: 500;
    text-shadow: 1px 0 0#F1E982;
  }

  h5.lihat-lebih-banyak a:hover {
    text-decoration: none;
    text-shadow: 1px 0 3px#F1E982;
  }

  .card-tentang-kami{
    border: none !important;
  }
  .card-tentang-kami:hover{
    background-color: #F1E982;
    color:rgba(10,10,10) !important;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.card-tentang-kami:hover .svg-tentang-kami path{
  fill: #8B8530 !important;
}
  
  @media screen and (max-width: 575px) {
    .owl-carousel .owl-nav {
      top: 5%;
    }
    
    .owl-carousel .owl-nav svg {
      width: 24px;
      height: 24px;
    }
  }
  
  