#navbarNavDropdown ul li a {
    color:#454545 !important;
}

#navbarNavDropdown ul li a:hover {
    color:#FFED00 !important;
    text-decoration: underline
}

#navbarNavDropdown ul li:nth-child(4) a:hover {
    color:#827f7f !important;
    font-weight: 400;
}