.item-highlight {
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #fff;
    box-sizing: border-box !important;
    background: #000;
    background-clip: padding-box !important;
    /*!importanté*/border: solid 5px transparent !important;
    /*!importanté*/border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}
.item-highlight:before {
    content: '';
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    /*!importanté*/border-radius: inherit !important;
    /*!importanté*/background: linear-gradient(60deg, #D2AC47 7.01%, #EDC967 67.13%, #F7EF8A 125.38%);
    -webkit-border-radius: inherit !important;
    -moz-border-radius: inherit !important;
    -ms-border-radius: inherit !important;
    -o-border-radius: inherit !important;
}

.card-resul-listing .list-card{
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}